./.idea
./cmake-build-debug/
./cmake-build-release/
.deps/
.dirstamp
Sorting_build/Makefile
Sorting_build/Makefile.in
Sorting_build/aclocal.m4
Sorting_build/autom4te.cache/
Sorting_build/build-aux/
Sorting_build/config.log
Sorting_build/config.status
Sorting_build/configure
Sorting_build/libSorting.la
Sorting_build/libtool
Sorting_build/m4/
config.h
config.h.in
libSorting_la-adv_sorting.lo
libSorting_la-compare.lo
libSorting_la-convertions.lo
libSorting_la-others.lo
libSorting_la-sorting.lo
stamp-h1